:root {
    --banner_top_height: 50px;
    --banner_bottom_height: 70px;
    --banner_left_width: 260px;
}

body {
    margin: 0;
    font-size: 0;
    background-color: #1f1f1f;
    color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
}

#banner_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--banner_bottom_height);
    background-color: #333;
}

#banner_left {
    width: var(--banner_left_width);
    height: calc(100% - var(--banner_bottom_height));
    margin: 0;
    display: inline-block;
    font-size: 16px;
    background-color: #1f1f1f;
}

#banner_left > a {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    height: var(--banner_top_height);
    line-height: var(--banner_top_height);
    display: inline-block;
}

#banner_left div:not(:last-of-type) {
    margin-bottom: 20px;
}

#banner_left div > h3 {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #AAA;
    margin: 0 20px 5px 20px;
    letter-spacing: 1px;
}

#player_infos {
    position: relative;
    height: 70px;
}

.overflow-handler {
    height: 100%;
    overflow-y: auto;
}

#player_cover {
    margin: 10px;
    height: calc(100% - 20px);
}

#player_artist {
    font-size: 12px;
    font-weight: 600;
    color: #bbb;
    position: absolute;
    bottom: 15px;
}

#player_song_name {
    position: absolute;
    top: 15px;
    font-weight: 600;
    font-size: 14px;
}

#player_progression {
    position: absolute;
    top: 40%;
    display: inline-block;
    /* bottom: 0; */
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
}

#my_playlists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(100% - var(--banner_top_height));
}

a {
    color: #efefef;
    text-decoration: none;
}

#my_playlists li {
    padding: 0 20px;
    font-weight: 700;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #BBB;
}

#my_playlists li:hover {
    /* background-color: rgba(0,0,0,0.3); */
    cursor: pointer;
    color: #efefef;
}

#banner_top {
    background-color: rgba(0,0,0,0.4);
    width: calc(100% - var(--banner_left_width));
    height: var(--banner_top_height);
    margin-left: var(--banner_left_width);
    position: absolute;
}

#current_user_information {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 30px;
}

#search_bar {
    border: none;
    margin: 12px 0 12px 20px;
    padding: 5px 5px 5px 10px;
    border-radius: 12px;
}

#search_bar:hover, #search_bar:focus {
    outline: none;
}

#container, .container {
    position: absolute;
    top: var(--banner_top_height);
    left: var(--banner_left_width);
    width: calc(100% - var(--banner_left_width));
    height: calc(100% - var(--banner_top_height) - var(--banner_bottom_height));
    font-size: 16px;
}

#playlist_list_container {
    margin-bottom: 50px;
}

#playlist_list_header, #container header {
    margin: 40px;
    position: relative;
}

#playlist_list_image, #container header .image-container {
    height: 150px;
    width: 150px;
    vertical-align: top;
    display: inline-block;
}

#playlist_list_header img, #container header .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container header .side-container {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 150px - 40px);
    margin-left: 40px;
}

#playlist_list_header h5 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    left: 170px;
    color: #bbb;
}

#container header h5 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 5px 0;
    text-transform: uppercase;
    color: #bbb;
}

#playlist_list_header h1 {
    display: inline-block;
    position: absolute;
    top: 25px;
    margin: 0;
    left: 167px;
    font-size: 44px;
}

#container header h1 {
    display: inline-block;
    margin: -5px 0 0 0;
    line-height: 40px;
    font-size: 40px;
}

#playlist_list_header span {
    position: absolute;
    bottom: 10px;
    left: 169px;
}

#container header .type {
    margin-right: 5px;
}

#container header .informations {
    font-size: 15px;
    color: #AAA;
}


#playlist_list_container table, .track-table {
    margin: 0 auto 40px auto;
    width: calc(100% - 80px);
    border-collapse: collapse;
}

#playlist_list_container table thead tr, .track-table thead tr {
    height: 30px;
}

#playlist_list_container table thead tr th, .track-table th {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: #CCC;
    text-align: left;
    border-bottom: 1px solid #333;
}

#playlist_list_container table tbody tr, .track-table tbody tr {
    height: 30px;
}

#playlist_list_container table tbody tr:hover, .track-table tbody tr:hover {
    background-color: #2A2A2A;
}

#playlist_list_container table tbody tr td, .track-table td {
    border-bottom: 1px solid #333;
    height: 40px;
}

#playlist_list_container table tbody tr td:nth-child(1), .track-table .play {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    text-align: center;
}

.track-table .love {
    width: 40px;
    text-align: center;
}

.track-table .love:hover {
    cursor: pointer;
}

.track-table .love .material-icons {
    font-size: 18px;
    line-height: 40px;
}

.track-table .duration {
    width: 60px;
    text-align: center;
}

#playlist_list_container table tbody tr td:nth-child(1) button, .track-table .play button {
    display: none;
    border: 1px solid #AAA;
    background: none;
    padding: 0;
    margin: 5px;
    border-radius: 30px;
    color: #fafafa;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: all 200ms linear 0s;
    box-sizing: border-box;
}

#playlist_list_container table tbody tr:hover td:nth-child(1) button, .track-table tbody tr:hover .play button {
    display: inline-block;
}

.track-table tbody tr:hover .play .track-number {
    display: none;
}

.track-table tbody tr:hover .play .track-number {
    opacity: 0;
}

#playlist_list_container table tbody tr td:nth-child(1) button:hover, .track-table .play button:hover {
    cursor: pointer;
    margin: 4px;
    width: 32px;
    height: 32px;
}


#playlist_list_container table tbody tr td:nth-child(1) button:focus, .track-table .play button:focus {
    outline: none;
}

#playlist_list_container table tbody tr td:nth-child(1) button span.material-icons, .track-table .play .material-icons {
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 100;
    vertical-align: top;
}

#playlist_list_container table tbody tr td:nth-child(3), .track-table .name {
    padding: 0 10px 0 0;
    width: 35%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

#playlist_list_container table tbody tr td:nth-child(4) {
    width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

#playlist_list_container table tbody tr td:nth-child(5) {
    width: 32%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

#playlist_list_container table tbody tr td:nth-child(6) {
    width: 100%;
    white-space: nowrap;
    padding-right: 20px;
}

.track-table td a:hover {
    text-decoration: underline;
}